.footer {
    width: 100%;
    background-color: #222A26;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .leftSide svg {
    color: #E4FFF0;
    margin-right: 20px;
    font-size: 35px;
    cursor: pointer;
  }

  .footer .leftSide {
    padding: 3vw;
  }
  
  .footer p {
    color: #E4FFF0;
  }

  .rightSide p {
    font-family: "Cinzel", serif;
    font-size: 1.2rem;
  }

  .copy {
    padding: 3vw;
  }

  .footer a {
    text-decoration: none;
  }